<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container bgc-header"  th:fragment="header">
    <div class="body-header">
        <div  style="">
            <img src="/img/BIMUYU.png" >
        </div>

        <div class="body-header-li"  >


            <nav >
                <div >
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!--<div class="" style="">-->
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--</button>-->

                    <!--</div>-->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="" id="clickToChangeColor1"  style="font-size: 18px;" >
                        <ul class="nav navbar-nav" >
                            <li><a href="../index/index.html"  style="color: #333333" >首页</a></li>
                            <li class="active"><a href="../task_hall/task_hall.html" style="color: #333333">交易大厅 <span class="sr-only">(current)</span></a></li>
                            <li><a href="../xyt/xyt.html"  style="color: #333333">小鱼塘</a></li>

                            <li class="dropdown">
                                <a href="../personalcenter/PersonalCenter.html" class="dropdown-toggle" style="float: left;color: #333333" >我的小红鱼 </a><span class="caret" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #333333;float: left;margin-top: 24px;position:absolute;right: 6px "></span>
                                <ul class="dropdown-menu" >
                                    <li><a href="#"  >我发布购买计划</a></li>
                                    <li><a href="#"  >参与出售的设计</a></li>
                                    <li><a href="#"  >我的收藏</a></li>
                                    <li><a href="#"  >我的足迹</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="../personalcenter/PersonalCenter.html">我的小红鱼</a></li>


                                </ul>
                            </li>
                            <li><a href="../DesignSchool/Schoolofdesign.html" style="color: #333333">设计学院</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #333333">更多<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../assess/assess.html" >考核</a></li>
                                    <li><a href="../openVIP/open_vip.html" >会员订购</a></li>
                                    <li><a href="../helpcenter/help_center.html" >帮助中心</a></li>
                                    <li><a href="../rulecenter/ruleOverView.html" >规则中心</a></li>


                                </ul>
                            </li>



                        </ul>


                    </div><!-- /.navbar-collapse -->

                </div><!-- /.container-fluid -->
            </nav>

        </div>




    </div>
    <div style="margin-top: 31px;width: 240px;float: left;margin-left: 50px;font-size: 18px">


        <button type="button" style="border-radius: 0;background-color: #FF5251;width: 84px;height: 34px;float: left"  class="btn btn-default" data-toggle="modal" data-target="#myModal">
            <font color="white">
                发任务
            </font>
        </button>
        <!--<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >-->
        <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content modal-Releasedemand" >-->

        <!--<div class="modal-header ">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"  style="color: red">-->
        <!--<span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">发布需求</h4>-->
        <!--</div>-->
        <!--<div class="modal-body ">-->
        <!--<div>-->
        <!--<div class="needinput">-->
        <!--<p>我需要:</p>-->
        <!--<textarea type="text" ></textarea>-->
        <!--</div>-->
        <!--<div class="modal-phonenum" >-->
        <!--<p >手机号码:</p>-->
        <!--<input  type="text"  placeholder="验证码" >-->
        <!--<button >获取</button>-->

        <!--</div>-->
        <!--<div class="messageprotect">-->
        <!--<p>信息保护中,仅小红鱼项目方可见</p>-->
        <!--<button id="release"><a href="./../toubiao.html" style="color: #FFFFFF">免费发布一个需求</a></button>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="modal " id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >-->
        <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content" style="border-radius: 0;margin-top: 209px;width: 860px;height: 700px;">-->

        <!--<div class="modal-body " >-->

        <!--<div style="height: 50px">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #ff5251"><span aria-hidden="true">&times;</span></button>-->
        <!--<b style="float: left;font-size: 20px">发布需求</b>-->
        <!--<p style="float: left;padding-top: 11px;margin-left: 10px;font-size: 12px">完善需求可以更快匹配到合适的服务商</p>-->
        <!--</div>-->

        <!--<div >-->
        <!--<p style="float: left">当前完善值55分，详细的需求描述可增加完善值！</p>-->

        <!--<div class="progress"  style="width: 810px;height: 10px;"  >-->

        <!--<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;" >-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div>-->
        <!--<div style="height: 80px">-->
        <!--<b style="float: left;">需求标题<font style="color: #FF7E33">*</font></b>-->
        <!--<textarea type="text" style="width: 810px;height: 30px;margin-left: 5px;margin-top: 10px;resize:none;padding-left: 10px" placeholder="LOGO设计"></textarea>-->
        <!--</div>-->
        <!--<div style="">-->
        <!--<b style="float: left;">需求描述<font style="color: #FF7E33">*</font></b>-->
        <!--<textarea type="text" style="width: 810px;height: 140px;margin-left: 5px;margin-top: 10px;resize:none;padding-left: 10px" placeholder="商标设计"></textarea>-->
        <!--</div>-->
        <!--<div style="width: 810px;height: 78px;background-color: #E7E7E7;border: solid 1px #999999;margin-left: 4px;margin-top: 8px">-->

        <!--<img src=".././img/jiahao.png" width="50px" style="float: left;margin-left: 19px;margin-top: 18px;">-->
        <!--<div style="float: left;width: 270px;color: #999999;font-size: 14px;margin-top: 23px;">-->
        <!--<p style="float: left;line-height: 15px">拖拽可上传附件</p>-->
        <!--<p style="float: left;line-height: 15px">最多可添加五个附件 每个大小不超过50M</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div style="margin-top: 15px;height: 100px">-->

        <!--<b style="float: left;">您需要的需求类型是：</b><br>-->
        <!--<div style="margin-top: 15px;text-align: center" id="clickToChangeColor">-->
        <!--<div style="width: 132px;float: left;padding-top: 10px;margin-left: 3px;;height: 41px;border: solid 1px #999999">logo</div>-->
        <!--<div style="width: 132px;float: left;padding-top: 10px;margin-left: 12px;;height: 41px;border: solid 1px #999999">商标注册</div>-->
        <!--<div style="width: 132px;float: left;padding-top: 10px;margin-left: 12px;;height: 41px;border: solid 1px #999999">商标转让</div>-->
        <!--<div style="width: 132px;float: left;padding-top: 10px;margin-left: 12px;;height: 41px;border: solid 1px #999999">商标驳回复审</div>-->
        <!--<a style="float: left;margin-left: 14px;margin-top: 11px;">修改</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--<button type="button" style="background-color: #FF5251;margin-left: 300px;;margin-top: 18px;width:122px;height: 41px;border: solid 1px ;border-radius: 0;color: white"  >-->
        <!--保存此页-->

        <!--</button>-->
        <!--<a id="return-step" style="margin-left: 15px;">返回上一步</a>-->


        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <p class="registerlogin" style="float: left;margin-top: 5px;">
            <a href="http://localhost:8082/passport/index?returnUrl=http://localhost:8081/index" style="margin-left: 30px;color: #333333" >登录</a>/
            <a style="color: #333333">注册</a>
        </p>
    </div>

</div>
</div>

</body>
</html>
